server:
  port: 8091
spring:
  application:
    name: "configuration-service"
  profiles:
    # active: native
    active: git
  cloud:
    config:
      server:
        native:
          search-locations: "classpath:/config"
        # git:
        #   uri: "https://github.com/agilesolutions/spring-cloud-config.git"
        #   default-label: main
        #   timeout: 5
        #   clone-on-start: true
        #   force-pull: true

eureka:
  instance:
    preferIpAddress: true
  client:
    fetchRegistry: true
    registerWithEureka: true
    serviceUrl:
      defaultZone: http://localhost:8090/eureka/

management:
  endpoints:
    web:
      exposure:
        include: "*"
  health:
    readiness-state:
      enabled: true
    liveness-state:
      enabled: true
  endpoint:
    health:
      probes:
        enabled: true

encrypt:
  key: "45D81EC1EF61DF9AD8D3E5BB397F9"
