debug: false

server:
  port: 8761

management:
  endpoint:
    health:
      show-details: ALWAYS
  tracing:
    enabled: true
  endpoints:
    web:
      exposure:
        include: health,metrics,prometheus
  metrics:
    export:
      prometheus:
        enabled: true

spring:
  application:
    name: discovery-service
  config:
    import: "optional:configserver:http://localhost:8091/"

logging:
  level:
    root: INFO