apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: services
resources:
- ../../base
patches:
- patch: |-
    - op: replace
      path: /spec/replicas
      value: 3
  target:
    kind: Deployment
    name: authorization-service
images:
- name: authorization-service
  newName: agilesolutions/authorization-service
labels:
- includeSelectors: true
  pairs:
    env: prod
