apiVersion: apps/v1
kind: Deployment
metadata:
  name: discovery-service
  namespace: services
  labels:
    app: discovery-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: discovery-service
  template:
    metadata:
      labels:
        app: discovery-service
    spec:
      containers:
        - name: discovery-service
          image: agilesolutions/discovery-service:1.0.1
          ports:
            - containerPort: 8081